@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:wght@400;700&family=Public+Sans&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f2f2f2;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  width: 100%;
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 20px;
}


:root {
  --font-1: 'Ibarra Real Nova', serif;
  --font-2: 'Public Sans', sans-serif;

  --color-1: #5fb4a2;
  --color-2: #203a4c;
  --color-3: #33323d;
  --color-4: #fafafa;
  --color-5: #eaeaeb;
  --color-6: #f43030;
  --color-7: #fff;
  --color-8: #000;

  --bg-color-1: #5fb4a2;
  --bg-color-2: #203a4c;
  --bg-color-3: #33323d;
  --bg-color-4: #fafafa;
  --bg-color-5: #eaeaeb;
  --bg-color-6: #f43030;
  --bg-color-7: #fff;
  --bg-color-8: #000;

}

.btn {
  font-family: var(--font-2);
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 2px;

  text-decoration: none;
  text-transform: uppercase;

  display: inline-block;

  color: var(--color-3);
  padding: 17px 35px 17px 32px;

  border: 1px solid var(--bg-color-3);
  transition: all 0.3s ease;
}

.btn:hover {
  background: var(--bg-color-3);
  color: var(--color-4);
  transition: all 0.3s ease;
}

.btn:active {
  background: transparent;
  border: 1px solid hsla(245, 10%, 22%, 0.205);
  color: var(--color-3);
  transition: all 0.3s ease;
}

.header__inner {
  width: 100%;
  margin: 0 auto;
  padding-top: 64px;
  padding-bottom: 54px;
}

.header__logo-link {
  text-decoration: none;
}

.header__logo {
  width: 60px;
  height: 32px;
}

.header__nav-box {
  padding-right: 20px;
}

.nav__list {
  list-style-type: none;
}

.nav__item:not(:nth-child(1)) {
  margin-left: 42px;
}

.nav__link {
  font-family: var(--font-2);
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 2px;

  text-transform: uppercase;
  text-decoration: none;

  color: var(--color-3);
  transition: all 0.3s ease;
}

.nav__link:hover {
  color: var(--color-1);
  transition: all 0.3s ease;
}

.menu-btn {
  font-size: 30px;

  color: var(--color-black);
  background: transparent;

  border: none;

  display: flex;
  align-items: center;

  display: none;
}

.removee-btn {
  position: absolute;
  top: -70px;
  right: 0;
  font-size: 40px;

  color: var(--color-2);
  background: transparent;

  border: none;

  display: flex;
  align-items: center;

  display: none;
}

@media screen and (max-width: 576px) {

  .header__nav-box {
    position: absolute;
    top: -500px;
    right: 20px;

    width: 225px;
    height: 190px;

    background: var(--bg-color-3);
    transition: all 0.3s ease;
    z-index: 500;
  }

  .nav__list {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;

    padding-top: 30px;
    padding-left: 20px;
  }

  .nav__item:not(:nth-child(1)) {
    margin: 0px;
  }

  .nav__link {
    font-family: var(--font-2);

    font-size: 12px;
    line-height: 14px;

    text-align: right;
    text-transform: uppercase;

    letter-spacing: 2px;

    color: var(--color-4);
    display: inline-block;

    margin-bottom: 32px;
  }

  .removee-btn {
    display: block;
    z-index: 100;
  }

  .menu-btn {
    display: block;
  }

  .open-menu {
    top: 130px;
    transition: all 0.5s ease;
  }

  .menu-remov {
    top: -100%;
    transition: all 0.5s ease;
  }

  .m-none {
    display: none;
  }

  .m-block {
    display: block;
  }
}



/* HERO PART  */

.hero__box {
  width: 100%;
  max-height: 500px;
  overflow: hidden;

  margin-bottom: 115px;
}

.hero__img {
  width: 100%;
  height: 100%;
  background-size: cover;
  object-fit: cover;
}

@media screen and (max-width: 768px) {

  .hero__box {
    margin-bottom: 50px;
  }

}


/* MANAGA PART  */


.managa__inner {
  margin-bottom: 65px;
}

.managa__list {
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
}

.about__item:nth-child(2) {
  padding: 0 10px;
}

.about__desc {
  max-width: 350px;

  padding-top: 48px;
  padding-bottom: 48px;

  border-top: 1px solid rgba(0, 0, 0, 0.150);
  border-bottom: 1px solid rgba(0, 0, 0, 0.150);
}

.about__title {
  font-weight: bold;
  font-size: 40px;
  line-height: 42px;

  letter-spacing: -0.357143px;

  color: var(--color-3);
  margin-bottom: 28px;
}

.about__text {
  font-size: 16px;
  line-height: 30px;

  color: var(--color-3);
  opacity: 0.8;
  margin-bottom: 24px;
  padding-right: 40px;
}

.about__text-lin {
  font-family: var(--font-2);
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;

  color: var(--color-1);
  margin-bottom: 32px;
}

.about__text-box {
  margin-bottom: 40px;
}

.about__titlee {
  font-family: var(--font-1);
  font-size: 32px;
  line-height: 42px;
  font-weight: normal;

  letter-spacing: -0.2px;

  color: var(--color-3);
  margin-bottom: 28px;
}

.about__img-box {
  width: 100%;
  margin: 0 auto;
}

.about__imgg {
  width: 100%;
  max-height: 400px;
  margin-bottom: 32px;
  object-fit: cover;
}

.abo-ttt {
  font-size: 16px;
  line-height: 30px;

  color: var(--color-3);
  opacity: 0.8;
  margin-bottom: 24px;
  display: none;
}


@media screen and (max-width: 768px) {

  .managa__list {
    flex-direction: column;
  }

  .managa__item {
    max-width: 100%;
    flex-basis: 100%;
  }

  .managa__item:nth-child(1) {
    display: flex;
    align-items: center;
    justify-content: space-between;

    border-top: 1px solid hsla(245, 10%, 22%, 0.151);
    border-bottom: 1px solid hsla(245, 10%, 22%, 0.151);
  }

  .about__desc {
    max-width: 100%;
    border: none;
  }

  .about__text-box {
    max-width: 100%;
    text-align: center;

    padding-top: 40px;
  }

  .about__text {
    padding-right: 0;
  }

  .abo-tt {
    display: none;
  }

  .abo-ttt {
    display: block;
    max-width: 50%;
    padding-left: 20px;
  }

  .about__title::after {
    content: '';
    display: inline-block;

  }

  .about__img-box {
    text-align: center;
  }
}


@media screen and (max-width: 520px) {

  .abo-ttt {
    display: none;
  }

  .abo-tt {
    display: block;
  }

  .about__desc {
    text-align: center;
  }

}



.managa__inner {
  margin-bottom: 115px;
}

.managa__list-pag {
  list-style-type: none;
  margin: 0 auto;
}

.man-lis__item:nth-child(2) {
  text-align: right;
}

.man-lis__item {
  padding: 32px 0;
  border: 1px solid rgb(209, 209, 209);
}

.man-lis__item:nth-child(1) {
  border-left: none;
}

.man-lis__item:nth-child(2) {
  border-right: none;
  border-left: none;
}

.man-lis-box {
  display: inline-block;
}

.man-lis-box:nth-child(1) {
  margin-left: auto;
}

.man-lis__link {
  text-decoration: none;
  display: inline-block;
  width: 50px;
}

.bx-chevron-left {
  display: flex;
  align-items: center;
  font-size: 50px;
  color: var(--color-3);
  text-align: right;
}

.bx-chevron-right {
  font-size: 50px;
  color: var(--color-3);
  text-align: right;
}

.man-lis__span {
  width: 150px;
  font-family: var(--font-1);
  font-weight: normal;
  font-size: 32px;
  line-height: 36px;

  text-align: right;
  text-decoration: none;
  letter-spacing: -0.2px;

  color: var(--color-3);
}

.man-lis__spann {
  font-family: var(--font-2);
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;

  text-align: right;

  color: var(--color-3);
  opacity: 0.5;
}

@media screen and (max-width: 520px) {

  .managa__inner {
    margin-bottom: 50px;
  }

  .man-lis__link {
    display: block;
  }

  .man-lis__item:nth-child(2) {
    display: flex;
    flex-direction: column-reverse;
  }

  .man-lis-box {
    margin-top: 10px;
    padding: 0 20px;
  }

  .managa__list-pag {
    padding: 0;
  }

  .man-lis__item:nth-child(2) {
    padding: 31px 0;
  }

}


@media screen and (max-width: 440px) {

  .man-lis__span {
    font-size: 28px;
  }

  .man-lis__spann {
    font-size: 14px;
  }

  .man-lis__link .bx {
    font-size: 40px;
  }

  .man-lis__linkk .bx {
    font-size: 40px;
  }

  .man-lis-box {
    margin-top: 10px;
    padding: 0 10px;
  }

}



/* INTER PART  */

.inter__inner {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 150px;

  padding-left: 0;
}

.inter__title {
  max-width: 350px;
  font-family: var(--font-1);
  font-weight: bold;
  font-size: 40px;
  line-height: 42px;

  letter-spacing: -0.3px;

  color: var(--color-3);

  padding: 0;
}

.inter__line {
  max-width: 530px;
  height: 2px;
  background: hsla(245, 10%, 22%, 0.151);
  padding: 0;

  overflow: hidden;
}

.inter__btn-box {
  padding: 0;
  text-align: right;
}

.inter__btn {
  width: 185px;
}


@media screen and (max-width: 1080px) {

  .inter__title {
    max-width: 40%;
    flex-basis: 40%;
  }

  .inter__line {
    max-width: 25%;
    margin: 0 auto;
  }

  .inter__btn {
    margin-left: 0px;
  }
}

@media screen and (max-width: 880px) {

  .inter__title {
    max-width: 50%;
    flex-basis: 50%;
  }

  .inter__line {
    max-width: 20%;
    margin: 0 auto;
  }

  .inter__btn-box {
    padding-right: 20px;
  }

}


@media screen and (max-width: 800px) {

  .inter__title {
    max-width: 60%;
    flex-basis: 60%;
  }

  .inter__line {
    display: none;
  }

}


@media screen and (max-width: 730px) {

  .inter__inner {
    padding: 0;
  }

  .inter__title {
    max-width: 80%;
    flex-basis: 80%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
  }

  .inter__btn-box {
    max-width: 80%;
    flex-basis: 80%;
    text-align: center;
    margin: 0 auto;
  }

  .inter__btn-box {
    padding-right: 0;
  }
}




/* FOOTER PART  */

.footer {
  background: var(--bg-color-3);
}

.footer__inner {
  padding: 24px 0;
  margin: 0 auto;
}

.footer__logo-nav {
  padding: 0 24px;
}

.footer__logo-box {
  width: 60px;
  height: 30px;
  margin-right: 48px;
}

.footer__logo-link {
  display: inline-block;
  text-decoration: none;
}

.footer-nav__list {
  list-style-type: none;
  padding-left: 40px;
}

.footer-nav__item:not(:nth-child(1)) {
  margin-left: 42px;
}

.footer-nav__link {
  font-family: var(--font-2);
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 2px;

  text-transform: uppercase;
  text-decoration: none;

  color: var(--color-4);
  transition: all 0.3s ease;
}

.footer-nav__link:hover {
  color: var(--color-1);
  transition: all 0.3s ease;
}



.footer__list {
  list-style-type: none;
  padding-right: 20px;
}

.footer__item:not(:nth-child(1)) {
  margin-left: 15px;
}

.footer__link {
  font-size: 30px;
  color: var(--color-5);
}

.footer__link:hover {
  color: var(--color-1);
}

@media screen and (max-width: 730px) {

  .footer__inner {
    flex-direction: column;
  }

  .footer__icons-box {
    padding-top: 50px;
    text-align: center;
  }

  .footer__list {
    padding: 0;
  }

}

@media screen and (max-width: 576px) {

  .footer__logo-nav {
    flex-direction: column;
    text-align: center;
  }

  .footer__logo-box {
    margin: 0 auto;
    margin-bottom: 50px;
  }

  .footer-nav__list {
    padding: 0;
  }

}

@media screen and (max-width: 370px) {

  .footer__logo-nav {
    max-width: 100%;
  }

  .footer-nav__list {
    flex-direction: column;
    text-align: center;
  }

  .footer-nav__item {
    margin-bottom: 20px;
  }

  .footer-nav__item:not(:nth-child(1)) {
    margin-left: 0;
  }
}